html {
    box-sizing:border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 1200px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.menu-nav {
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-nav a{
    text-decoration: none;
    display: block;
    color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    transition: color 200ms linear;
}

.menu-nav a:hover,
.menu-nav a:focus{
    color: #f38181;
}

.rec-hover::after {
    content: "";
    height: 4px;
    transform: scaleX(0);
    background-color: #f38181;
    display: block;
    transition: transform 200ms linear;
    margin-top: 15px;
}

.rec-hover:hover::after,
.rec-hover:focus::after {
    transform: scaleX(1);
}

.logo {
    font-weight: 700;
    font-size: 30px;
    animation: logo-appear 1.5s linear;
    display: inline-block;
}

@keyframes logo-appear {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }

    40% {
        transform: translateY(0);
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.hd {
    margin-bottom: 120px;
}

.first-name{
    margin: 0 0 25px;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    text-align: center;
}

.second-name {
    margin: 0 auto 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.second-name::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #f38181;
    margin: 40px auto 0;
}

.services-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.name-serv {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #333;
    margin: 0;
}

.subscribe-serv {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    color: #999;
    margin: 0;
}

.services-list-item {
    flex: 0 0 380px;
    margin-bottom: 100px;
    padding: 0 38px 0 85px;
    text-align: center;
    position: relative;
}

.services-list-item:nth-of-type(n+3) {
    margin-bottom: 0;
}


.services-list-item::before {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    content: '';
    width: 83px;
    height: 67px;
    background-repeat: no-repeat;
    background-position: top;
}

.icon-alarm::before {
    background-image: url(../img/icons/alarm.png);
}

.icon-line-graph::before {
    background-image: url(../img/icons/line-graph.png);
}

.icon-computer::before {
    background-image: url(../img/icons/computer.png);
}

.icon-book-2::before {
    background-image: url(../img/icons/book-2.png);
}

.icon-home::before {
    background-image: url(../img/icons/home.png);
}

.icon-image::before {
    background-image: url(../img/icons/image.png);
}

.descr {
    width: 960px;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0 auto 94px;
    color: #999999;
}

.team-name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
}

.team-position {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    text-align: center;
    color: #999;
    margin: 0;
}

.team-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.team-photo {
    margin: 0 0 30px;
}

/* overlay */
.team-list-item {
    position: relative;
    
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 380px;
    height: 470px;
    background: linear-gradient( rgba(243, 129, 129, 0.8), rgba(252, 227, 128, 0.8) );
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 200ms linear,
                opacity 200ms linear,
                
}

.overlay-sl {
    transition: transform 200ms linear;
}


.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.icon {
    width: 56px;
    height: 57px;
    background-color: #fce38a;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    transition: background-color 200ms linear;
}

.icon:hover {
    background-color: #95e1d3;
}

.facebook {
    background-position: center;
    background-image: url(../img/icons/facebook.png);
}

.twitter {
    background-image: url(../img/icons/twitter.png);
}

.pinterest {
    background-image: url(../img/icons/pinterest.png);
}

.instagram {
    background-image: url(../img/icons/instagram.png);
}

.team-list-item:hover .overlay {
    opacity: 1;
    box-shadow: 11px 11px rgb(149,225,211);
    
}

.team-list-item:hover .overlay-sl {
    transform: translate(-11px, -11px);
}



.who {
    padding-top: 100px;
    padding-bottom: 80px;
}

.page-footer {
    min-height: 65px;
}

.page-footer .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    padding-top: 10px;
}

.copyr {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #333;
    display: block;
    margin: 0;
}

.autor {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #f38181;
    display: inline-block;
    text-decoration: none;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #95e1d3;
    color: #f9fdfc;
    padding: 15px 38px;
    transition: background-color 200ms linear;
    border: none;
}

.btn:hover {
    background-color: #f38181;
}

.email-form {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: #999;
    padding: 13px 12px 13px;
    border: 1px solid #999;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
 }