@media (max-width:767px) {
    .partners-list-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .partners-list-item {
        padding: 10px;
    }
}

@media (min-width: 768px) and (max-width: 939px) {
    .wrapper {
        width: 748px;
        
    }

    .hd {
        min-height: 700px;
    }

    .site-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    .logo {
        line-height: 50px;
        margin: 0;
    }

    .menu-list {
        margin: 0;
    }

    .partners-list {
        margin: 0 auto 30px;
        max-width: 492px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .partners-list-item {
        flex: 0 0 236px;
    }

    .partners-list-item:not(:nth-last-child(-n+2)) {
        margin-bottom: 25px;
    }

    .slogan {
        font-size: 48px;
        padding: 0 100px;
    }

    .slogan-discr {
        font-size: 24px;
    }
}

@media (min-width: 940px) {
    .wrapper {
        width: 910px;
       
    }

    .site-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    .logo {
        line-height: 50px;
        margin: 0;
    }

    .menu-list {
        margin: 0;
    }


    .partners-list {
        margin-bottom: 30px;
        display: flex;
        flex-wrap: inherit;
        justify-content: space-between;
    }

    .partners-list-item {
        flex: 0 0 220px;
    }

    .partners-list-item:not(:nth-last-child(-n+4)) {
        margin-bottom: 25px;
    }

    .slogan {
        font-size: 52px;
        padding: 0 150px;
    }
}