@media (max-width:747px) {
    .partners-list-item:not(:last-child) {
        margin-bottom: 25px;
    }

    .partners-list-item {
        padding: 10px;
    }
}

@media (min-width: 748px) and (max-width: 1019px) {
    .wrapper {
        width: 748px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .hd {
        min-height: 700px;
    }

    .site-nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 150px;
    }

    .logo {
        line-height: 50px;
        margin: 0;
    }

    .menu-list {
        margin: 0;
    }

    .partners-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .partners-list-item {
        flex: 0 0 236px;
    }

    .partners-list-item:not(:nth-last-child(-n+2)) {
        margin-bottom: 25px;
    }

    .slogan {
        font-size: 48px;
        padding: 0 100px;
    }

    .slogan-discr {
        font-size: 24px;
    }
}

@media (min-width: 1020px) {
    .wrapper {
        width: 940px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .partners-list {
        display: flex;
        flex-wrap: inherit;
        justify-content: space-between;
    }

    .partners-list-item {
        flex: 0 0 220px;
    }

    .partners-list-item:not(:nth-last-child(-n+4)) {
        margin-bottom: 25px;
    }

    .slogan {
        font-size: 52px;
        padding: 0 150px;
    }
}