html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 320px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.hd {
    min-height: 540px;
    background-color: #000;
    background-image: url(../img/img_desktop/header-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 20px;
}

.site-nav a {
    display: block;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    text-decoration: none;
    text-align: center;

}

.logo {
    font-size: 20px;
    text-transform: uppercase;
}

.menu-list {
    margin: 0 auto 120px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu-item {
    border: 3px solid rgba(255, 255, 255, 0.001);
    border-radius: 25px;
    font-size: 14px;
    padding: 8.2px 20px;
}

.menu-item:hover, .menu-item:focus {
    border: 3px solid #fff;
}

.slogan {
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    margin: 0;
    margin-bottom: 28px;
}

.slogan-discr {
    color: #fff;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    margin: 0;
    padding: 0 25px;
    margin-bottom: 22px;
}

.btn-find {
    background-color: #ff4e50;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    padding: 10.85px 0;
    border: 3px solid #ff4e50;
    text-align: center;
    text-decoration: none;
    width: 225px;
}

.btn-find:hover {
    background-color: #fc1f21;
    border: 3px solid #fc1f21;
    
}

.partners {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.partners-list {
margin: 0;
padding: 0;
margin-bottom: 20px;
}

.partners-list-item {
    width: 280px;
    text-align: center;
    list-style: none;
    padding-top: 10px;
    margin: 0 auto;
}

.partner-photo{
    width: 123px;
    height: 123px;
    position: relative;
    margin: 0 auto 22px;
}

.round {
    border-radius: 61.5px;
}

.partner-photo::before {
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 41px;
    height: 41px;
    border: 3px solid #fff;
    border-radius: 20.5px;
    display: block;
    content: '';
    background-repeat: no-repeat;
    background-position: center;
}

.partners-list-item:hover {
    box-shadow:  0 0 10px rgba(0,0,0,0.5);
}

.icon-part-01::before {
    background-color: #ff4e50;
    background-image: url(../img/icon/part-01.png);
}

.icon-part-02::before {
    background-color: #ffa507;
    background-image: url(../img/icon/part-02.png);
}
.icon-part-03::before {
    background-color: #1cd7ad;
    background-image: url(../img/icon/part-03.png);
}
.icon-part-04::before {
    background-color: #4e73db;
    background-image: url(../img/icon/part-04.png);
}

.full-name {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin: 0 auto 22px;
}

.about {
    margin: 0;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 14px;
}

.btn-see {
    background-color: #fff;
    color: #ff4e50;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10.85px 45px;
    border-color: #ff4e50
}

.partner-section {
    padding-top: 70px;
    padding-bottom: 60px;
}
