.email-form {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    color: $secondary-color;
    padding: 13px 12px 13px;
    border: 1px solid $secondary-color;
}