.wrapper {
    width: 1110px;
    padding-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    background: rgb(240, 239, 240);
}

.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    
}

.hd {
    margin-bottom: 112px;
}

.logo::first-letter {
    color: #1abc9c;
    font-weight: 700;
}

.logo {
    float: left;
}
.menu li{
float: right;
padding-left: 30px;
}
.menu a {
    text-decoration: none;
    color: #000;
}

.menu a:focus {
    color: #1abc9c
}
.menu {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    list-style-type: none;
    text-transform: uppercase;
    
}

.sec-title {
    width: 500px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    
}

.sec-title::after {
    display: block;
    content: "";
    width: 164px;
    height: 7px;
    background: #4ec6ab;
    margin: 33px auto 93px;
    
}

.items {
    list-style-type: none;
    font-size: 0;
    padding: 0;
}
.items-product {
width: 255px;
height: 282px;
background: #e9f0fd;
}

.items-featured {
width: 255px;
float: left;
border: 0;
margin: 0 30px 32px 0;
height: auto;
overflow: hidden;

}

.featured-last {
    margin: 0;
}
/* .items-featured:nth-child(4n) {
    margin-right: 0;
}

.items-featured:nth-last-child(-n + 4) {
    margin-bottom: 0;
} */

.items-featured:hover .name-product{
    background: #1abc9c;

}
.items-featured:hover .price{
    background: #7fd9c7;

}

.items-name-product {
    width: 201px;
    height: 39px;
    float: left;
    background: #323232;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 39px;
    color: #fff;
    text-indent: 5px;
}

.items-price {
    width: 54px;
    height: 39px;
    line-height: 39px;
    float: left;
    background: #8c8c8c;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-align: center;
    

}
    

    block 255*322  255*282
