@import './account.css';
@import './hero.css';
@import './logo.css';
@import './header.css';
@import './slogan.css';
@import './button.css';
@import './partner.css';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

